.previewcard {
    height: 723px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 32px;
}

.previewcardRemove {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 20px;
}

#img-preview {
    width: 321px;
}

#title-Preveiw {
    font-weight: 100;
    font-size: 32px;
    line-height: 48px;
}

#p-Preveiw {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: rgba(144, 144, 144, 1);
}

#btn-Preveiw {
    height: 56px;
    width: 191px;
    border: solid 1px;
    color: black;
    border-radius: 6px;
}

#framePreview {
    width: 59px;
}

@media screen and (min-width:750px) {
    .previewcard {
        height: 713px;
        align-items: baseline;
    }

    #img-preview {
        width: 320px;
    }

    #framePreview {
        display: none;
    }

}

@media screen and (max-width:750px) {
    .previewcardRemove {
        display: none;
    }

}