
#root {
  margin: 0 auto;
  text-align: center;
}

:root{
  --gray-boxes:rgba(237, 237, 237, 1);
  --gray-cards:rgba(246, 246, 246, 1);

}

.a{
  text-decoration: none;
  color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.main-margine {
  margin-left: 160px;
  margin-right: 160px;
}

ul {
  list-style: none;
}
button{
  cursor: pointer;
}

